In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
import re
import seaborn as sns
import numpy as np
import joypy
import datetime
sns.set_palette("deep",desat=.6)
colors=sns.color_palette("deep")
sns.set_context(rc={"figure.figsize":(18,5)})
from bokeh.plotting import figure, output_file, show
%matplotlib inline

In [2]:
ridership=pd.read_csv(r"/Users/brianparker/Work/RidershipAutomation.csv")
ridership=pd.DataFrame(ridership)

In [3]:
UPT=ridership[ridership.Stat=="UPT"]
UPT_FR=UPT[UPT.Service=="FR"]

In [4]:
UPT_FR.set_index('Route',inplace=True)

In [5]:
FY18_UPT_FR=UPT_FR.loc[:,'10/17':'09/18']
FY18_UPT_FR.head()

,10/17,11/17,12/17,01/18,02/18,03/18,04/18,05/18,06/18,07/18,08/18,09/18
Route,,,,,,,,,,,,
1 Parkcenter,6730,6306,6120,6873,6628,6593,6706,5969,4876,4943,5877,5480
10 Hill Road - Maple Grove,3282,3302,3085,4151,4105,4499,4357,4824,3704,3068,3796,3644
10X,187,210,177,234,282,207,229,264,6,0,135,325
11 Garden City,1319,1354,1365,1353,1320,1404,1267,991,1433,1451,737,517
12 Maple Grove,4166,3457,2999,3186,3098,3142,3236,3358,3590,3229,3481,3484

In [6]:
FY18_UPT_FR=FY18_UPT_FR.reset_index().groupby(['Route'])

In [7]:
load_factor=pd.read_excel(r"/Users/brianparker/Work/CanyonLoadFactor.xlsx")
stop_times=pd.read_csv(r"/Users/brianparker/Work/VRT_Transit1/stop_times.txt")
trips=pd.read_csv(r"/Users/brianparker/Work/VRT_Transit1/trips.txt")
routes=pd.read_csv(r"/Users/brianparker/Work/VRT_Transit1/routes.txt")
gtfs=pd.merge(stop_times,trips)
gtfs=pd.merge(gtfs,routes)

In [8]:
load_factor.head()

,Fareset,Route,Run,Date,Time,Driver,Bus,Ridership,Capacity
0,1,52,52352,2018-07-27,19:24:00,8772,6608,128,38
1,2,40,58140,2017-10-09,06:10:37,7738,615,4,28
2,2,40,58140,2017-10-09,06:19:27,7738,615,16,28
3,2,40,58140,2017-10-09,07:15:47,7738,615,4,28
4,2,40,58240,2017-11-01,06:16:00,5787,615,3,28

In [9]:
gtfs.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,route_id,...,block_id,shape_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,R1_06:15_Rt1 Outbound Main_69597,06:15:00,06:15:00,01019999,0,NaN,NaN,NaN,20.085339,route_VRT_2141,...,58001,shape_VRT_5416,VRT,R1,Route 1 Parkcenter,NaN,3,NaN,ffcd00,000000
1,R1_06:15_Rt1 Outbound Main_69597,NaN,NaN,01010124,1,NaN,NaN,NaN,3290.582945,route_VRT_2141,...,58001,shape_VRT_5416,VRT,R1,Route 1 Parkcenter,NaN,3,NaN,ffcd00,000000
2,R1_06:15_Rt1 Outbound Main_69597,NaN,NaN,01010126,2,NaN,NaN,NaN,4331.011367,route_VRT_2141,...,58001,shape_VRT_5416,VRT,R1,Route 1 Parkcenter,NaN,3,NaN,ffcd00,000000
3,R1_06:15_Rt1 Outbound Main_69597,NaN,NaN,01010154,3,NaN,NaN,NaN,6945.142323,route_VRT_2141,...,58001,shape_VRT_5416,VRT,R1,Route 1 Parkcenter,NaN,3,NaN,ffcd00,000000
4,R1_06:15_Rt1 Outbound Main_69597,NaN,NaN,01010155,4,NaN,NaN,NaN,7749.365654,route_VRT_2141,...,58001,shape_VRT_5416,VRT,R1,Route 1 Parkcenter,NaN,3,NaN,ffcd00,000000

In [14]:
load_factor=load_factor.groupby(pd.TimeGrouper(level='Time',freq='1T'))['Ridership','Capacity'].sum()
load_trips.head(50)

/anaconda2/envs/mappingEnv/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

ValueError: The level Time is not valid